// Custom styles.

code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}

.sidebar {
    background: url(https://i.loli.net/2019/07/11/5d26e694cb64e97780.jpg) no-repeat!important;
    background-size: cover!important;
    position: fixed!important;
    right: 0!important;
    top: 0!important;
    bottom: 0!important;
}